body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ADADAD;
}
#bottom {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  background-color: white;
  border-radius: 10px;
}
#welcome {
  color: #006417;
  font-size: 1.5em;
}
#sold {
  float: left;
}
#history {
  float: right;
  width: 20%;
  height: 30%;
  font-style: italic;
}
#thing {
  font-style: italic;
  text-align: right;
  font-size: 0.5em;
  float: bottom;
}
.content {
  background-color: white;
  border-radius: 10px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}